<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app='myApp'>
<head>
<style>
table {
  width: 100%;
}
img {
  height: auto;
  width: 266px;
}
td {
	padding: 30px;
}
</style>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
<script th:inline="javascript">
    var data = /*[[${images}]]*/ '';
</script>
<script src="js/controller.js"></script>
<title>Display Images</title>
</head>
<body>
	<div align="right"><h3>[[${id}]]</h3></div>
	<hr/>
	<div id="headline_contents" class="customImage"></div>

	<div ng-controller="UserController">
	    <table class="table table-striped" ng-init="getUsersList()">
	        <tr valign="middle" align="center">
	            <th>Image</th>
	            <th>URL</th>
	            <th>Comment</th>
	        </tr>
	        
	        <!--  Angular.jsによる繰り返し表示  -->
	        <tr ng-repeat="photo in json track by $index">
	            <td align="center">
	              <a href="{{photo.url}}" target="_blank">
	                <img alt="{{photo.alt}}" title="{{photo.alt}}" src="{{photo.url}}">
	              </a>
	              <br/>{{photo.alt}}
	            </td>
	            <td valign="middle">
	              <a href="{{photo.url}}" target="_blank">{{photo.url}}</a>
	            </td>
	            <td valign="middle">
	              {{photo.alt}}
	            </td>
	        </tr>
	    </table>
	</div>

	<!--
	<div align="center">
		<form name="frm" method="post" action="SignIn">
			<input type="hidden" name="id" th:value="${id}" />
			<input type="hidden" name="password" th:value="${password}" />
			<input type="button" class="btn btn-primary btn-sm" onClick=document.frm.submit(); value="back" />
		</form>	
	</div>
	-->
</body>
</html>
